*{
   margin: 0%; 
   padding: 0%;
}
.headerNav{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.555),rgba(255, 7, 7, 0.555)), url("Images/Background.png");
   background-position: center;
   background-size: cover;
   position: relative;
}

/*--------------------------------- Navigation Bar ---------------------------------*/

nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
   font-size: 40px;

}
nav img{
   width: 200px;
}
.nav-links{
   flex: 1;
   text-align: right;
}

.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}

.nav-links ul li a{
  color:white; 
  text-decoration: none;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
   text-shadow: 0px 1px 1px #000000;
}
.nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: rgba(255, 0, 0, 0.74);
   display: block;
   margin: auto;
   transition: 0.5s;
}

.nav-links ul li:hover::after{
   width: 0%;
}

/*--------------------------------- Banner ---------------------------------*/

.banner-text{
   text-align: center;
   color:white;
   padding-top: 180px;
}
.banner-text h1{
   font-size: 130px;
   font-family: 'Bangers', cursive;

   -webkit-text-stroke: 2px #000000;
	text-shadow: 0px 4px 4px #000000; 
}
.banner-text p{
   font-size: 50px;
   font-family: 'Rubik', sans-serif;
   font-style:normal;
   text-shadow: 2px 1px 1px #ff0000;
   color:rgb(0, 0, 0);
}
.banner-btn{
   margin: 70px auto 0;
}
.banner-btn a{
   width: 150px;
   text-decoration:none;
   display:inline-block;
   margin: 0 10px;
   padding: 12px 0;
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-family: 'Rubik', sans-serif;
   text-shadow: 0px 2px 2px #000000;
   font-weight: bold;
   border: 2px solid #000000;
   box-shadow: 5px 10px;
   position: relative;
   z-index: 1;
   transition: color 0.5s;
}
.banner-btn a span{
   width: 0%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0%;
   background: red;
   z-index: -1;
   transition: 0.5s;
}
.banner-btn a:hover span{
   width: 100%;
}
.banner-btn a:hover{
   color: rgb(255, 255, 255);
}

/*--------------------------------- Intro ---------------------------------*/

.intro{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
h1{
   font-size: 65px;
   font-weight: 600;
   font-family: 'Bangers', cursive;
}

.Keep-It-100-P{
   padding-top: 24px;

}

p{
   color: rgb(0, 0, 0);
   font-size: 20px;
   font-weight: 350px;
   line-height: 40px;
   padding-top: 10px;
   font-family: 'Rubik', sans-serif;
   margin-top: 0;
}

/*--------------------------------- Testimonies ---------------------------------*/

.Testimonies{
  width: 80%; 
  margin: auto;
   padding-top: 100px;
}

h2{
   font-size: 70px;
   font-weight: 300;
   padding-top: 30px;
   font-family: 'Bangers', cursive;
   font-weight: bold;
   color: rgb(255, 0, 0);
   -webkit-text-stroke: .5px #000000;
   text-shadow: 0px 4px 4px #000000;
   margin: auto;
}

h3{
   font-size: 50px;
   font-weight: bold;
   padding-top: 40px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   margin-top: 0;
   text-align: center;
}

.container{
   width: 1500px;
   margin: 50px auto;
   box-sizing: border-box;
   column-count: 4;
   margin-top: 5;
   column-rule: 1px dotted rgba(255, 0, 0, 0.678);
}
.row{
   margin: 10px auto;

}
.intro-col{
   padding: 5px;
}


.LTST{
   text-align: center;
}

/*--------------------------------- Footer ---------------------------------*/

footer{
   clear: both;
   text-align: center;
   height: 50px;
   padding-top: 20px;
}

/*--------------------------------- Pictures ---------------------------------*/

.Picture{
   padding-top: 70px;
   align-content: center;
}

.Picture2{
   display: block;
  margin-left: auto;
  margin-right: auto; 
}

.Picture3{
   display: block;
   margin: auto;
   align-content: center;
}

.Picture4{
   display: block;
   margin-left: auto;
   margin-right: auto;
   align-content: 20px;
}

.Picture5{
   display: block;
   margin-left: auto;
   margin-right: auto; 
}

/*--------------------------------- About Me ---------------------------------*/

.About-Me-Title{
   font-size: 120px;
   text-align: center;
}

.About-Me-Para{
  margin: auto;
  width: 50%;
  height: 600px;
  padding: 40px;
  color: rgb(0, 0, 0);
}

.About-Me-Text{
   color: white;
   font-weight: bold;
}



/*--------------------------------- Features ---------------------------------*/
.Features-Title{
   font-size: 120px;
   text-align: center;
}

.Features-Para{
   margin: auto;
   width: 50%;
   height: 600px;
   padding: 40px;
   color: rgb(0, 0, 0);
}

.Features-Text{
   color: white;
   font-weight: bold;
}

/*--------------------------------- Contact ---------------------------------*/
.contact-Title{
   font-size: 120px;
   text-align: center;
}

.contact-Form{
   text-align: center;
   font-size: 24px;
   padding-top: 40px;
   clear: both;
}

label {
   display: inline-block;
   width: 8em;
   text-align: left;
}

.contact-para {
   text-align: center;
   padding-top: 24px;
   box-sizing: border-box;
   color: rgb(0, 0, 0);
   stroke: rgb(255, 0, 0);
   text-shadow: 0px 1px 1px #ff0000;
}



#p1{
float: left;
width: 40em;

}

#p2{
float: right;
width: 40em;
}

h4{
   font-size: 30px;
   font-weight: bold;
   padding-top: 40px;
   font-family: 'Rubik', sans-serif;
   margin-top: 0;
   text-align: center;
}

.contact-Form{
   font-family: 'Rubik', sans-serif;
   font-size: 24px;
   padding-top: 20px;
}

.contact-container{
   width: 35em;
   margin: 10px auto;
   box-sizing: border-box;
   column-count: 2;
   margin-top: 3px;
   column-rule: 1px dotted rgba(255, 0, 0, 0.678);
}
.contact-col{
   padding: 5px;
}

.contact-head{
   font-size: 25px;
}


/*--------------------------------- Merchandice ---------------------------------*/
.merch-Title{
   font-size: 120px;
   text-align: center;
}

.Coming-Soon-Title{
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 120px;
   text-align: center;
   color: white;
  
	text-shadow: 0px 4px 4px #000000;
}

.merch-Para{
   margin: auto;
  padding: 40px;
  color: rgb(0, 0, 0);
}

/*--------------------------------- mobile screen ---------------------------------*/
@media only screen and (max-device-width: 600px) {
  body {
    background-color: rgb(255, 0, 0);
  }

  .Testimonies{
     background-color: red;
  }
}

