* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    color: rgb(255, 0, 0);
    background-color: white;
    text-align: center;
    font-family: 'Grechen Fuemen', cursive;
    font-weight: bolder;
    font-size: 3em;
    padding-bottom: 20px;
}

h2 {
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 26px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

figcaption span {
    font-size: .85em;
    text-align: center;
}

p#product-description {
    margin: 20px 0 20px 0;
    text-align: justify;
}

div.review {
    padding: 10px;
    background-color: white;
    margin: 20px 0 20px 0;
}

.review h4 {
    font-weight: bolder;
    color: black;
    padding-bottom: 10px;
    font-size: 18px;
}

.review p {
    padding-bottom: 20px;
}